body{
    background-color: rgb(180, 126, 235);
    font-size: 50px;
    
}

.titulo{
    border:2px solid black;
    background-color: aliceblue;
    letter-spacing: 3px;
    line-height:20px;
    text-align: center;
    box-shadow: 15px 15px 20px rgba(0, 0,0, 0.5);
    margin: auto;
    width: 400px;
    border-radius: 20px;
}

.titulo1{
    color:red;
    font-size: 0.6em;
}

.titulo2{
    font-size: 0.5em;
}

.titulo3{
    font-size: 0.4em;
}

.conteudo{
    width: 400px;
    text-align: justify;
    font-size: 0.4em;
}

/* .pagina{
    font-size: 50px;
} */