.pagina{
    background-color:teal;
    font-family:sans-serif;
    font-size: 50px;
}

.titulo{
    font-size: 0.5em;
    border:10px double white;
    border-radius: 50px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.8);
    text-align: center;
    width: 350px;
    margin: auto;
    background-color: tomato;
    color: aliceblue;
}

.conteudo{
    font-size: 0.3em;
}

header{
    font-size: 0.4em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-style: normal;
    text-decoration:none;
}

header li{
    display: inline;
    text-decoration: none;
    text-transform:none;
    color:black;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    border:1px solid black;
    padding: 10px 10px 10px 10px;
    background-color: tomato;
    border-radius: 50px;
    margin:auto;
}

header ul{
    text-decoration: none;
    color: black;
}


header a{
    text-decoration: ;
    color: black;
}

footer{
    font-size: 0.3em;
    text-align: center;
}